<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I am Kitty</title>
</head>
<body>
<h1>这是主页</h1>
            {% if user.is_authenticated %}
                <h1>你已经成功登陆</h1>
               <h1>Welcome {{ user.username }}!</h1><br>
            <a  href="Javascript:{document.getElementById('退出').submit()}">登出</a><br>
            <form id='退出' method='POST' action=" {% url '退出页面' %} ">
                {% csrf_token %}
            <input type="hidden">
            </form>
            {% else %}
                <h1>你还没有登陆噢</h1>
            <a  href=" {% url '登录页面' %} ">登录</a><br>
            <a  href=" {% url '注册页面' %} ">注册</a><br>
            {% endif %}
</body>
</html>