<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>这是登陆界面</h1>
<form method='POST' action='{% url '登录页面' %}' align='center'>
    {% csrf_token %}
    用户名:
        <br>
    <input type="text" name="用户名">
        <br>
        <br>
    密码:
        <br>
    <input type="password" name="密码">
        <br>
    {{ 错误 }}
        <br>
    <input type="submit" value="登录">
</form>
<a  href=" {% url '注册页面' %} ">注册</a><br>
<a  href=" {% url '主页' %} ">主页</a><br>
</body>
</html>